.information {
  &-form {
    border-bottom: 1px solid #dfdede;
    padding-bottom: 20px;
    & input {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #292929;
      margin-right: 20px;
      margin-top: 20px;
      width: 250px;
    }
    & .phoneNumber {
      display: block;
    }
  }
  &-button {
    padding-top: 25px;
    float: right;
    margin-right: 25px;
    & a {
      color: #292929;
    }
    & .continue {
      padding: 12px;
      background-color: #292929;
      border-radius: 5px;
      cursor: pointer;
      & a {
        color: #fff;
      }
    }
  }
}
